:root {
    --primary-color: #5942c1;
    --secondary-color: #ffffff;
    --background-color: #f0f0f0;
    --text-color: #333333;
    --accent-color: #0066ff;
    --border-radius: 10px;
  }
  
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
  }

  .heading {
    background: linear-gradient(135deg, var(--primary-color), var(--accent-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    margin: 25px 0 15px 0;
    text-align: center;
    font-size: 3em;
    font-weight: bold; 
  }
  
  .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(135deg, var(--primary-color), var(--accent-color));
    color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 30px auto;
    margin-bottom: auto;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .search-bar input[type='text'] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: var(--border-radius) ;
    outline: none;
  }
  
  .search-bar img {
    width: 37px;
    height: 37px;
    cursor: pointer;
    border-radius: var(--border-radius) ;
    background-color: var(--secondary-color);
    margin-left: 5px;
  }
  
  .weather-icon {
    width: 100px;
    height: auto;
    margin: 20px 0;
  }
  
  .temperature {
    font-size: 2em;
    margin: 10px 0;
  }
  
  .location {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .weather-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .col {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: var(--border-radius);
    width: 45%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin-left:5px;
  }
  
  .col img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .col p {
    margin: 0;
    font-size: 1em;
    color: var(--text-color);
  }
  
  .col span {
    font-size: 0.8em;
    color: var(--text-color);
  }
  
  .col:hover {
    transform: scale(1.05);
  }
  